/*
	Body
*/
body {
  padding-top: 60px;
}
/*@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}*/

/*
	Header
*/

.navbar .header-text {
	font-weight: 400;
	font-size: large;
	color: #fff;
	padding: 8px 20px 12px;
	margin-bottom: 0px;
}

.navbar form {
	margin-bottom: 0px;
}

/*
	Dropdown forms
*/

.dropdown form {
	margin-left: 20px;
	margin-right: 20px;
}
.dropdown input[type=submit] {
	display: block;
	margin-top: 3px; 
}

/*
	Inline Login
*/

.login label[for=RememberMe] {
	display: inline;
	margin-left: 10px;
}

/*
	Loaders	
*/
.loader-white {
	background-image: url('../images/loader-white.gif');
	height: 11px;
	width: 16px;
}

.loader-dark {
	background-image: url('../images/loader-dark.gif');
	height: 11px;
	width: 16px;
}

/*
	Board View	
*/

.dropdown-menu.event-menu {
	min-width: 220px;
	overflow-y: auto;
	max-height: 500px;
}

.board-name-form {
	margin-top: 6px;
}

	.board-name-form i {
		margin-top: 2px;
	}

.name-save-marker {
	display: inline;
}

.well.event-container {
	padding:10px;
	margin: 5px;
}

.event-container {
	.username {
		color: #aaa;
	}
	.date {
		color: #555;
	}
	p {
		margin-bottom: 0px;
	}
}

#canvas-container {
	position: fixed;
	top: 45px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}