@model IEnumerable<Whiteboard.Models.Board>
@{
    ViewBag.Title = "Home";
}

<div class="row-fluid">
    <div class="span6">
        
    </div>
    <div class="span6">
        @Html.Partial("_MyBoards", this.Model)
    </div>
</div>