@model Whiteboard.Models.Board

@{
    ViewBag.Title = Model.Name;
}

@section header {
    <p class="header-text" data-bind="text: name"></p> 
}

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/viewmodels")
    <script>
        var initialData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(this.Model));

        $(function () {
            var viewModel = new ViewModels.BoardViewModel(initialData);
            ko.applyBindings(viewModel);
        });
    </script>
}