<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://whiteboard.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-db3-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>whiteboard</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <DeployAsIisApp>True</DeployAsIisApp>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$whiteboard</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:j71bwpsz6w.database.windows.net,1433;Initial Catalog=whiteboardstorage;User ID=steve@j71bwpsz6w;Password=(ryM34R1v3r" Name="Data Source=tcp:j71bwpsz6w.database.windows.net,1433;Initial Catalog=whiteboardstorage;User Id=steve@j71bwpsz6w;Password=(ryM34R1v3r" />
          <Object Type="DbSqlPackage">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Whiteboard-20120802193852.mdf;Initial Catalog=aspnet-Whiteboard-20120802193852;Integrated Security=True" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Whiteboard-20120802193852;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Whiteboard-20120802193852.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:j71bwpsz6w.database.windows.net,1433;Initial Catalog=whiteboardstorage;User Id=steve@j71bwpsz6w;Password=(ryM34R1v3r</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>