@model IEnumerable<Whiteboard.Models.Board>

<h3>My Boards</h3>
@if (Request.IsAuthenticated)
{
    <ul class="nav nav-pills nav-stacked">
        @foreach (var item in Model) {
            var name = string.IsNullOrEmpty(item.Name) ? "(Unnamed Board)" : item.Name;
            <li>@Html.ActionLink(name, "Detail", "Board", new { id = item.Id }, null)</li>
        }
        @if (Model.Count() == 0)
        {
            <p>You have not created any boards yet</p>
        }
    </ul>
} else {
    <p>Sign in or register to keep a record of your boards</p>
}